:root {
  --primary-color: #ffff;
  --secondary-color: #A9A9A9;
  --accent1-color: #264653;
  --accent2-color: #050C36;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  width: 840px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

nav {
  display: flex;
  list-style: none;
  flex: 1 1 auto;
}

main,
footer {
  width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  background-color: var(--accent1-color);
  padding: 12px;
  opacity: 0.7;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(38, 70, 83, 0.8);
  color: var(--secondary-color);
  padding: 20px;
  font-family: var(--body-font);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent2-color);
  color: var(--primary-color);
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 15px;
}

figure {
  display: grid;
}

footer {
  display: flex;
  align-items: right;
}