:root {
  --primary-color: #ffff;
  --secondary-color: #A9A9A9;
  --accent1-color: #264653;
  --accent2-color: #050C36;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  width: 840px;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--accent1-color);
  padding: 10px 20px;
}

nav {
  display: flex;
  grid-column: 2 / 5;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  padding: 8px 12px;
  color: var(--primary-color);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

main,
footer {
  width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  background-color: var(--accent1-color);
  padding: 12px;
}

p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 35px;
  margin-left: 10px;
}

.hero {
  position: relative;
  margin-top: 20px;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(38, 70, 83, 0.8);
  color: var(--secondary-color);
  padding: 20px;
  font-family: var(--body-font);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent2-color);
  color: var(--primary-color);
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 15px;
}

.history {
  background-color: white;
  padding: 30px;
  border: 1px solid var(--accent1-color);
}

.history-content {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  gap: 20px;
  align-items: center;
}

.history-content img {
  width: 100%;
}

.adventure {
  background-color: white;
  padding: 30px;
  border: 1px solid var(--accent1-color);
}

.adventure-gallery {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
}

.adventure-gallery img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

figure {
  width: 130px;
  text-align: center;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent1-color);
  color: var(--primary-color);
  margin-bottom: 20px;
}