* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue-color: #4a6fa5; 
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


nav {
    background-color: var(--dark-blue-color);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 2rem;
    margin-top: 1rem;
}


aside {
    grid-column: 1 / 2;
}

aside img {
    width: 100%;
    margin: 1rem 0;
}

main {
    grid-column: 2 / 3;
}

h1 {
    color: var(--dark-blue-color);
    border-bottom: 2px solid var(--dark-blue-color);
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}


main img {
    width: 150px;
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid #999;
    padding: 3px;
}


.box {
    border: 1px solid rgba(0,0,0,.2);
    background-color: #eee;
    padding: 1rem;
}


ul.box {
    margin-top: 1.5rem;
}

footer {
    border-top: 1px solid #000;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
}
