* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #3e3e3e;
    color: white;
    padding: .10rem;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

section {
    margin: 2em 0;
    background-color: #dddddd;
    padding: 1rem;
}

section h2 {
    text-align: left;
    border-bottom: solid black 1px;
}

footer {
    background-color: #3e3e3e;
    color: white;
    padding: 1em;
    text-align: center;
}